---
import ThemeButton from "@/components/theme-button.tsx";
import Layout from "../layouts/Layout.astro";
import ProposalIllustration from "@/components/illustrations/proposal-illustration.astro";
import ContactIllustration from "@/components/illustrations/contact-illustration.astro";
import SectionHeading from "@/components/section-heading.tsx";
import CaseStudies from "@/components/case-studies.tsx";
import Testimonials from "@/components/testimonials.tsx";
import WorkingProcess from "@/components/working-process.tsx";
import ContactForm from "@/components/contact-form";
import Services from "@/components/services.tsx";
import Team from "@/components/team.tsx";
import CompanyLogos from "@/components/company-logos";
import HeroSection from "@/components/hero-section.tsx";
---

<Layout>
  <!-- Hero -->
  <HeroSection client:visible />
  <!-- Company logos -->
  <CompanyLogos client:visible />
  <!-- Services -->
  <section class="maximus uni-padding-y">
    <SectionHeading
      client:visible
      heading="Services"
      description="At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services include:"
    />
    <Services client:visible />
  </section>
  <!-- Free Proposal -->
  <section class="maximus uni-padding-y">
    <div
      class="bg-stone-100 rounded-4xl lg:rounded-[45px] p-9 xl:p-12 grid md:grid-cols-2 justify-between items-center xl:gap-20"
    >
      <div class="flex flex-col items-start gap-6">
        <h2 class="theme-h3">Let&apos;s make things happen</h2>
        <p class="body-16 text-balance">
          Contact us today to learn more about how our digital marketing
          services can help your business grow and succeed online.
        </p>
        <ThemeButton className="sm:max-md:hidden">
          Get your free proposal
        </ThemeButton>
      </div>
      <div
        class="grid max-md:items-end justify-end sm:max-md:grid-cols-2 md:justify-center"
      >
        <div class="hidden sm:max-md:block">
          <ThemeButton> Get your free proposal </ThemeButton>
        </div>
        <ProposalIllustration
          className="scale-105 md:scale-[1.35] lg:scale-150"
        />
      </div>
    </div>
  </section>
  <!-- Case Studies -->
  <section class="maximus uni-padding-y">
    <SectionHeading
      client:visible
      heading="Case Studies"
      description={`Explore Real-Life Examples of Our Proven Digital Marketing\nSuccess through Our Case Studies`}
      className="uni-padding-b"
    />
    <div class="bg-stone-950 rounded-4xl lg:rounded-[45px] p-9 xl:p-12">
      <CaseStudies client:visible />
    </div>
  </section>
  <!-- Working Process -->
  <section class="maximus uni-padding-y">
    <SectionHeading
      client:visible
      heading="Our Working Process"
      description="Step-by-Step Guide to Achieving Your Business Goals"
      className="uni-padding-b"
    />
    <WorkingProcess client:idle />
  </section>
  <!-- Team -->
  <section class="maximus uni-padding-y">
    <SectionHeading
      client:visible
      heading="Team"
      description="Meet the skilled and experienced team behind our successful digital marketing strategies"
      className="uni-padding-b"
    />
    <Team client:visible />
    <div class="pt-10 flex flex-col lg:items-end">
      <ThemeButton> Meet whole team </ThemeButton>
    </div>
  </section>
  <!-- Testimonials -->
  <section class="maximus uni-padding-y">
    <SectionHeading
      client:visible
      heading="Testimonials"
      description={`Hear from Our Satisfied Clients: Read Our Testimonials to Learn More about Our Digital Marketing Services`}
      className="uni-padding-b"
    />
    <div class="bg-stone-900 rounded-4xl lg:rounded-[45px] py-9 xl:py-12">
      <Testimonials client:idle />
    </div>
  </section>
  <!-- Contact Us -->
  <section class="maximus uni-padding-y">
    <SectionHeading
      client:visible
      heading="Contact Us"
      description={`Connect with Us: Let's Discuss Your Digital Marketing Needs`}
      className="uni-padding-b"
    />
    <div
      class="bg-stone-100 rounded-4xl lg:rounded-[45px] p-9 xl:py-14 xl:px-24 grid md:grid-cols-2 overflow-hidden relative isolate"
    >
      <div class="">
        <ContactForm client:visible />
      </div>
      <div
        class="grid place-items-center max-md:opacity-50 max-md:absolute right-0 -z-10"
      >
        <ContactIllustration
          className="translate-x-1/2 scale-115 origin-left"
          sizeFactor={1}
        />
      </div>
    </div>
  </section>
</Layout>
