---
import ThemeButton from "@/components/theme-button.astro";
import Layout from "../layouts/Layout.astro";
import MarketingIllustration from "@/components/illustrations/marketing-illustration.astro";
---

<Layout>
  <section class="maximus uni-padding-y">
    <div class="grid md:grid-cols-2 gap-4 md:gap-8 lg:gap-10 xl:gap-40">
      <div class="flex flex-col gap-4 md:gap-4 lg:gap-9 md:items-start">
        <h1 class="theme-h1 leading-[1.3em]">
          Navigating the digital landscape for success
        </h1>
        <div class="grid place-items-center md:hidden">
          <MarketingIllustration sizeFactor={0.9} />
        </div>
        <p class="body-20">
          Our digital marketing agency helps businesses grow and succeed online
          through a range of services including SEO, PPC, social media
          marketing, and content creation.
        </p>
        <ThemeButton> Book a consulation </ThemeButton>
      </div>
      <div class="grid place-items-center">
        <MarketingIllustration className="max-md:hidden" sizeFactor={0.9} />
      </div>
    </div>
  </section>
</Layout>
