---
const response = await fetch(
  "https://official-joke-api.appspot.com/random_joke"
);
const joke = await response.json();
---

<html>
  <head>
    <title>Random Joke (SSR)</title>
  </head>
  <body>
    <h1>Here's a random joke:</h1>
    <p><strong>{joke.setup}</strong></p>
    <p>{joke.punchline}</p>
    <a href="/random-joke">Get another one</a>
  </body>
</html>
