---
import ThemeStarIcon from "@/components/icons/theme-star-icon.astro";
export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<a href="/" class=`flex items-center theme-h2 font-medium! gap-2 ${className}`>
  <ThemeStarIcon />
  Positivus
</a>
