---
import { cn } from "@/lib/utils.ts";

export type Variant = "default" | "outline" | "secondary";
export interface Props {
  variant?: Variant;
  className?: string;
  isIcon?: boolean;
}

const { variant = "default", isIcon = false, className } = Astro.props;

const variantClasses = {
  default: "bg-stone-950 text-stone-50 border-transparent",
  outline: "border-current hover:border-stone-200 hover:bg-stone-200",
  secondary: "bg-stone-200 border-transparent hover:bg-stone-300",
};
---

<button
  class={cn(
    `rounded-[14px] border cursor-pointer duration-300 ${variantClasses[variant]}`,
    isIcon ? `aspect-square p-5` : "py-3 px-5 lg:py-4 lg:px-9",
    className
  )}
>
  <slot />
</button>
